<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moneymobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <permission
        android:name="com.moneymobile.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.moneymobile.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.moneymobile.ConnexionActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moneymobile.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name="com.moneymobile.AccueilActivity"
            android:label="@string/title_activity_accueil" >
        </activity>
        <activity
            android:name="com.moneymobile.EnvoyerArgentActivity"
            android:label="@string/title_activity_envoyer_argent" >
        </activity>
        <activity
            android:name="com.moneymobile.GererMonCompteActivity"
            android:label="@string/title_activity_gerer_mon_compte" >
        </activity>
        <activity
            android:name="com.moneymobile.DemanderArgentActivity"
            android:label="@string/title_activity_demander_argent" >
        </activity>
        <activity
            android:name="com.moneymobile.AccepterArgentActivity"
            android:label="@string/title_activity_accepter_argent" >
        </activity>
        <activity
            android:name="com.moneymobile.HistoriqueActivity"
            android:label="@string/title_activity_historique" >
        </activity>
        <activity
            android:name="com.moneymobile.CoopterUnAmiActivity"
            android:label="@string/title_activity_coopter_un_ami" >
        </activity>
        <activity
            android:name="com.moneymobile.AideActivity"
            android:label="@string/title_activity_aide" >
        </activity>
        <activity
            android:name="com.moneymobile.DeconnexionActivity"
            android:label="@string/title_activity_deconnexion" >
        </activity>
        <activity
            android:name="com.moneymobile.InscriptionActivity"
            android:label="@string/title_activity_inscription" >
        </activity>
        <activity
            android:name="com.moneymobile.RechargerCompteActivity"
            android:label="@string/title_activity_recharger_compte" >
        </activity>
        <activity
            android:name="com.moneymobile.ConfirmerRechargeActivity"
            android:label="@string/title_activity_confirmer_recharge" >
        </activity>
        <activity
            android:name="com.moneymobile.ConfirmerVirementActivity"
            android:label="@string/title_activity_confirmer_virement" >
        </activity>
        <activity
            android:name="com.moneymobile.RechargerCompteConfirmationActivity"
            android:label="@string/title_activity_recharger_compte_confirmation" >
        </activity>
        <activity
            android:name="com.moneymobile.RetirerActivity"
            android:label="RetirerActivity" >
        </activity>
        <activity
            android:name="com.moneymobile.RetirerConfirmationActivity"
            android:label="RetirerConfirmationActivity" >
        </activity>
    </application>

</manifest>
